<ion-content no-padding>
    <div width="100%" height="100%">
    <div style="background: #8eda4a;padding-top: 15%;padding-bottom: 10%;" height="50%">
        <ion-card style="margin: 0px;width: 28%;border-radius: 15px; padding-top: 0%;margin-left: 37%;">
            <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
        </ion-card>
        <h5 style="color: white;font-weight: 500;text-align: center;font-size: 3.6rem;padding-top: 0%;padding-bottom: 7%;">SIGN IN</h5>
    </div>
    <!-- <div> -->
        <div class="row">
            <ion-card style="margin: -70px 0px 0px 12px;border-radius: 20px;" class="col-sm-12 col-12 col-md-12" >
                <form [formGroup]="loginForm" style="margin-top: 10%;margin-bottom: 10%">
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 8px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input placeholder="Phone Number" type = "number" minlength="10" maxlength="13"  formControlName="username"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 1%;color: gray;">
                            <ion-icon name="mail" style="font-size:3.4rem"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="!loginForm.controls.username.valid && (loginForm.controls.username.dirty || submitAttempt)"
                        style="text-align:center;color:red;">Please type valid phone number</p>
                    <ion-row style="border-bottom: 1px solid #b6afaf;margin: 8px 30px 0px 30px;">
                        <ion-col col-10 no-padding>
                            <ion-input placeholder="Password*" type="{{type}}" formControlName="password"></ion-input>
                        </ion-col>
                        <ion-col col-2 no-padding style="text-align: right;margin-top: 1%;color: gray;"
                            (click)="toggleShow()">
                            <ion-icon name="eye" style="font-size:3.4rem"></ion-icon>
                        </ion-col>
                    </ion-row>
                    <p *ngIf="!loginForm.controls.password.valid && (loginForm.controls.password.dirty || submitAttempt)"
                        style="text-align:center;color:red;">password required!</p>
                </form>
            </ion-card> 
            <ion-row class="col-sm-12 col-12 col-md-12 " style="margin:auto">
                <button ion-button round
                    style="width: 18.2rem;color:white;background: #8eda4a;margin: -24px 0px 0px -12px;font-weight:400;text-transform: none;"
                    (click)="userlogin()">Sign In</button>
            </ion-row>         
        </div>
        <div style="text-align:center">
                <p (tap)="forgotPassFunc()" style="text-align:center;color: grey;">Forgot Password ?</p>
                <div (click)="gotosignuppage()" >
                    <p style="color:grey;">Don't have an account ?<span style="color: black;margin-left: 5px;">Sign
                            Up</span></p>
                </div>      
        </div>
    <!-- </div> -->
</div>
</ion-content>