page-confirm-booking {

    a {
        text-decoration: none;
        color: white;
     }

    .navColor .toolbar-background.toolbar-background-md{
        background-color: #87C23F;
        font-size: 12px;
    }

    .navColor .title.title-md .toolbar-title.toolbar-title-md{
        color: white;
    }

    #maptrack{
        height: 100%;
        width: 100%;
    }

}

.toastStyle{
    text-align: center
}

.alertStyle1{
    .alert-wrapper{
        .alert-head{
            text-align: center;
            background: #87C23F;
            color: white;
            padding: 12px;
        }

        .alert-message{
            color: black;
            overflow: hidden;
            padding: 12px 12px 12px 12px;
            text-align: center;
            font-size: 17px;
        }
    }

}
