<!-- Generated template for the BookingDetailComponent component -->
<div class="mainStyle">
  <!-- <p>Booking Detail</p> -->
 <div class="row">
   <div col-7 style="padding-left: 20px;">
     <p>Trip start at</p>
     <p>Trip end at</p>
     <p>Trip distance</p>
     <p>Fare</p>
     <p>Pickup station</p>
     <p>Drop Station</p>
     <p>Duration</p>
   </div>
   <div col-5>
    <p>{{tripData.Actual_startTime }}</p>
    <p>{{tripData.Actual_endTime }}</p>
    <p>10 Kms</p>
    <p>220 Rs.</p>
    <p>{{tripData.Loading_Site }}</p>
    <p>{{tripData.Unloading_Site }}</p>
    <p>{{tripData.durations }}</p>
    
   </div>
 </div>
</div>
