<ion-header>
  <ion-navbar>
    <ion-title>Bike Issue</ion-title>
  </ion-navbar>
</ion-header>
<ion-content>
  <form class="form" [formGroup]="BikeIssueForm">
    <p type="Email ID">
      <input formControlName="name" type="text" placeholder="Write your Email here.." />
    </p>
    <span class="span"
      *ngIf="!BikeIssueForm.controls.name.valid && (BikeIssueForm.controls.name.dirty || submitAttempt)">Email is
      required and should be in valid format!</span>
    <p type="Bike Number">
      <input formControlName="bikenumber" type="text" placeholder="Write your Bike Number here...."
        [(ngModel)]="scannedCode" />
      <ion-icon name="qr-scanner" style="position: fixed;
      right:35px;
      top:38%;
      z-index: 1000;
      font-size: 23px;" (click)="ScanQrcode()"></ion-icon>
    </p>
    <span class="span"
      *ngIf="!BikeIssueForm.controls.bikenumber.valid && (BikeIssueForm.controls.bikenumber.dirty || submitAttempt)">Bike
      Number is required and should be in valid format!</span>
    <p type="Bike Location">
      <textarea rows="2" cols="50" formControlName="location" placeholder="please write your Location.."
        [(ngModel)]="locationShow"></textarea>
      <ion-icon name="locate" style="position: fixed;
      right:35px;
      top:53%;
      z-index: 1000;
      font-size: 23px;" (click)="BikeLocation()"></ion-icon>
    </p>
    <span class="span"
      *ngIf="!BikeIssueForm.controls.location.valid && (BikeIssueForm.controls.location.dirty || submitAttempt)">please
      write your Location!</span>

    <p type="Describe">
      <textarea rows="2" cols="50" formControlName="note" placeholder="What would you like to tell us.."></textarea>
    </p>
    <span class="span"
      *ngIf="!BikeIssueForm.controls.note.valid && (BikeIssueForm.controls.note.dirty || submitAttempt)">please write
      your Location!</span>
    <button (tap)="contactUs()" style="text-align:center;">SUBMIT</button>
  </form>
</ion-content>