<ion-content>
    <ion-row>
        <ion-col style="text-align: center;">
            <h3 style="color: #8eda4a;">{{ statusMessage }}</h3>
        </ion-col>
    </ion-row>
    <div padding>
        <ion-list>
            <button ion-item *ngFor="let device of devices" (click)="deviceSelected(device)">
                <h2>{{ device.name || 'Unnamed' }}</h2>
                <p>{{ device.id }}</p>
                <p>Address: {{ device.address }}</p>
                <p>Class: {{device.class}}</p>
            </button>
        </ion-list>
        <ion-row *ngIf="peripheral">
            <ion-col>
                <button ion-button color="gpsc" block (click)="setONOFF(btnText)">
                    {{btnText}}
                </button>
            </ion-col>
        </ion-row>
    </div>
</ion-content>