<ion-content no-padding>
  <ion-grid style="background: #8eda4a;">
    <!-- <ion-icon name="md-arrow-back" style="font-size: 2.6em;color: white;margin: 1% 0% 0% 4%;" (click)="goBack()">
    </ion-icon> -->
    <ion-icon name="ios-document-outline" style="font-size: 8.6em;color: white;margin: 10% 0% 0% 43%;"></ion-icon>
    <h5 style="color: white;margin-top: 1.0rem;text-align: center;font-weight: 400;">You need to Upload your</h5>
    <h3 style="color: white;font-size: 2.6rem;margin-top: 0rem;text-align: center;margin-bottom: 12%;">Documents
    </h3>
  </ion-grid>
  <!-- <ion-row style="padding: 10%;padding-top:0% ;padding-bottom: 2%;">
    <ion-col col-2 style="padding-top: 10%;">
      <ion-icon ios="ios-image" md="md-image" style="font-size: 3.0em;color: #131746e8;"></ion-icon>
    </ion-col>
    <ion-col col-10 style="padding-top: 11%" (click)="presentActionSheet()">
      <p style="font-size: 1.4rem;margin: 0% 0% 0% 0%;">Select the document form gallery</p>
      <p style="margin: 0%;color: #6f6b6b;">png, jpg or jpeg </p>
      <p>Image <span>{{lastImage}}</span></p>
    </ion-col>
    <button ion-button icon-start round style="margin: 5% 0% 0% 27%;height: 4.2rem;background: #FF9800;"
      (click)="uploadImage()" [disabled]="lastImage === null">
      <ion-icon name="camera"></ion-icon>
      Upload
    </button>
  </ion-row> -->
  <ion-row padding-top padding-left padding-right>
    <ion-col>
      <ion-label style="font-size: 1.5em;color: #131746e8;">
        Select Document
      </ion-label>
    </ion-col>
  </ion-row>
  <ion-row padding-bottom padding-left padding-right>
    <ion-col>
      <ion-select placeholder="{{placeString}}" class="selectStyle" [(ngModel)]="docImge">
        <ion-option [value]="adharCard" (ionSelect)="docChange($event)">Adhar Card</ion-option>
        <!-- <ion-option [value]="panCard" (ionSelect)="docChange($event)">Pan Card</ion-option> -->
        <ion-option [value]="drivingLicence" (ionSelect)="docChange($event)">Driving Licence</ion-option>
        <ion-option [value]="selfie" (ionSelect)="docChange($event)">Selfie</ion-option>
        <!-- <ion-option *ngFor="let dealer of selectDealer" [value]="dealer.dealer_firstname" (ionSelect)="dealerOnChnage(dealer)">{{dealer.dealer_firstname}}</ion-option> -->
      </ion-select>
    </ion-col>
  </ion-row>
  <ion-row padding-left padding-right *ngIf="docImge">
    <ion-col (click)="presentActionSheet()">
      <p style="font-size: 1.4rem;margin: 0% 0% 0% 0%;">Select the document form gallery</p>
      <p style="margin: 0%;color: #6f6b6b;">png, jpg or jpeg </p>
      <p>Image <span>{{lastImage}}</span></p>
    </ion-col>
  </ion-row>
  <button ion-button icon-start round style="margin: 5% 0% 0% 27%;height: 4.2rem;background: #FF9800;"
    (click)="uploadImage()" [disabled]="lastImage === null">
    <ion-icon name="camera"></ion-icon>
    Upload
  </button>
  <!-- <ion-row style="height:23%;padding:2% 10% 0% 10%">
    <img src="{{pathForImage(lastImage)}}" style="width: 100%" [hidden]="lastImage === null">
  </ion-row> -->
</ion-content>
<ion-footer style="width: 90%;

background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;" *ngIf="showButton">

  <ion-row>
    <ion-col>
      <button ion-button full style="height: 37px;background: #87c23f;font-size: 14px;" (click)="subDone()">Upload Done</button>
    </ion-col>
  </ion-row>
</ion-footer>