<ion-content no-padding>
  <div height="100%" width="100%">
      <div style="background: #8eda4a;padding-top: 15%;padding-bottom: 10%;" height="50%">
          <ion-card style="margin: 0px;width: 28%;border-radius: 15px; padding-top: 0%;margin-left: 37%;">
              <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
          </ion-card>
          <h5 style="color: white;font-weight: 500;text-align: center;font-size: 2.4rem;padding-top: 0%;padding-bottom: 7%;">FEEDBACK</h5>
      </div>
  <ion-card style="width: 90%;min-height: 320px;margin-top: -54px;margin-left: 5%;border-radius: 8%;padding-left: 7%;">
    <!-- <ion-card-content> -->
      <div>
        <ion-label>1. Please Rate your Zogorides Experience.</ion-label>
        <div style="text-align: center;">
          <ionic3-star-rating activeIcon="ios-star" defaultIcon="ios-star-outline" activeColor="#f7f71b"
            defaultColor="#f4f4f4" readonly="false" [rating]="5">
          </ionic3-star-rating>
        </div>
      </div>
      <div>
        <ion-label>2. What Did you liked the most?</ion-label>
        <ion-row>
          <ion-col col-6>Ease of Booking</ion-col>
          <ion-col col-6>
            <ion-checkbox [(ngModel)]="booking"></ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Pricing</ion-col>
          <ion-col col-6>
            <ion-checkbox [(ngModel)]="pricing"></ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Ease of Drive</ion-col>
          <ion-col col-6>
            <ion-checkbox [(ngModel)]="drive"></ion-checkbox>
          </ion-col>
        </ion-row>
        <ion-row>
          <ion-col col-6>Convinient</ion-col>
          <ion-col col-6>
            <ion-checkbox [(ngModel)]="convinient"></ion-checkbox>
          </ion-col>
        </ion-row>
      </div>
      <div>
        <ion-label>3. Please help us to Improve.</ion-label>
        <ion-input type="text" placeholder="write here..." [(ngModel)]="additionalText"></ion-input>
      </div>

    <!-- </ion-card-content> -->

  </ion-card>
  <!-- <ion-row class="userRating">
    <ul class="rate-area">
      <input type="radio" id="5-star" name="rating" value="5" /><label for="5-star" title="Amazing">5 stars</label>
      <input type="radio" id="4-star" name="rating" value="4" /><label for="4-star" title="Good">4 stars</label>
      <input type="radio" id="3-star" name="rating" value="3" /><label for="3-star" title="Average">3 stars</label>
      <input type="radio" id="2-star" name="rating" value="2" /><label for="2-star" title="Not Good">2 stars</label>
      <input type="radio" id="1-star" name="rating" value="1" /><label for="1-star" title="Bad">1 star</label>
    </ul>
  </ion-row> -->
</div>
</ion-content>
<ion-footer style="width: 90%;
height: 100px;
background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;">
  <ion-row style="margin-top: 22px;width: 90%;margin-left: 5%;">
    <ion-col>
      <button ion-button full
        style="margin: 0%;height:50px;background:#87c23f;font-size: 18px;text-transform:none;border-radius: 6px;"
        (click)="done()">Submit</button>
    </ion-col>
    <!-- <ion-col>
      <button ion-button full
        style="margin: 0%;height:50px;background:#87c23f;font-size: 18px;text-transform:none;border-radius: 6px;"
        (click)="skip()">Skip</button>
    </ion-col> -->
  </ion-row>
</ion-footer>