page-live {
    #map_canvas{
        height: 100%;
         width: 100%;
     }
     .divPlan{
        background: transparent;
     }
     .content-ios,
     .content-md {
        background-color: transparent;
    }
     .drawer-content {
        padding: 10px;
        p {
            font-size: 8px;
        }
        .col {
            padding: 0px;
        }
      }
     .infoB{
        font-size: 13px;
        border-radius: 2px;
        background-color: rgb(44, 32, 32);
        box-shadow: 3px 3px 5px rgb(75, 62, 62);
        color: rgb(133, 87, 87);
        padding: 15px;
        }
        .infoB:before {
        border-top-color: rgb(44, 32, 32);
        border-width: 5.5px;
        margin-top: -1.5px;
        }
        .infoB:after, .infoB:before {
        border: 10px solid transparent;
        border-top-color: rgb(44, 32, 32);
        position: absolute;
        content: '';
        top: 100%;
        left: 9px;
        }
        
        #map_canvas {
            height: 100%;
            width: 100%;
        }
        .my-custom-class-for-label{
            width: 50px; 
            height: 20px;
          
            border: 1px solid #eb3a44;
            border-radius: 5px;
            background: #fee1d7;
            text-align: center;
            line-height: 20px;
            font-weight: bold;
            font-size: 14px;
            color: #eb3a44;
        
        
            }
            .map-main {
                position: relative;
                text-align: center;
             
                .navStyle{
                    position: absolute;
                    top: 75%;
                    left: 85%;
                    font-size: 35px;
                }
                .location_sel {
                    position: absolute;
                    top: 0%;
                    padding: 10px 0px;
                    margin: 0 auto;
                    left: 0;
                    right: 0;
                     :focus {
                        height: 40px;
                    }
                    ion-card-header {
                        margin: 0;
                        font-size: 12px;
                        text-align: left;
                        padding: 0;
                    }
                    ion-card-content {
                        padding: 4px;
                        margin: 0;
                        text-align: left;
                        font-size: 12px;
                    }
                }
                .pickup_from {
                    z-index: 99;
                    padding: 10px;
                    margin: 0 auto 5px;
                    transition: all .2s ease-in-out;
                     :focus {
                        transform: scale(1.1);
                    }
                }
                .drop_locations {
                    z-index: 90;
                    padding: 10px;
                }
            }
            .headerChip {
                background-color: rgba(255, 255, 255, 0.76);
                .nearby_cab {
                    max-width: 25%;
                    background-color: rgba(255, 255, 255, 0);
                    padding: 4px 2px;
                    text-align: center;
                    width: 100%;
                    border-right: 1px solid #ebeee8;
                    span {
                        display: block;
                        font-size: 9px;
                        margin: 2px 0;
                        line-height: 9px;
                    }
                    span.img-parent {
                        width: 4rem;
                        height: 4rem;
                        text-align: center;
                        margin: 0 auto;
                        border: 1px solid #ddd;
                        position: relative;
                        border-radius: 50%;
                        img {
                            max-width: 3rem;
                            position: relative;
                            top: 45%;
                            transform: translateY(-40%);
                        }
                    }
                    .auto_img img {
                        max-width: 2rem !important;
                    }
                }
            }
}
