<ion-header class="transparentNav">
  <ion-navbar class="navColor">
    <button ion-button menuToggle>
      <ion-icon name="menu"></ion-icon>
    </button>
    <ion-buttons end>
      <button id="notification-button" ion-button clear (click)="seeNotifications()">
        <ion-icon name="notifications" style="font-size: 20px; color: #fff">
          <ion-badge id="notifications-badge" color="danger">{{cartCount}}</ion-badge>
        </ion-icon>
      </button>
    </ion-buttons>
  </ion-navbar>
</ion-header>
<ion-content no-padding>
  <div id="map_canvas1" style="width: 100%;height: 100%;">
    <ion-card>
      <ion-row no-padding (click)="dropOffLocation()">
        <ion-col col-2>
          <ion-icon style="font-size: 46px;color: #8eda4a;margin-top: 9px;margin-left: 8px;margin-bottom: 9px;"
            name="md-pin"></ion-icon>
        </ion-col>
        <ion-col col-10>
          <p style="font-size: 1.6rem;margin-top: 12px;">Drop location</p>
          <p style="font-size: 1.4rem;white-space: nowrap;">{{drop_locationShow}}</p>
        </ion-col>
      </ion-row>
    </ion-card>

    <ion-card *ngFor="let location of locations ; let i =index">
      <ion-row>
        <ion-col col-2>
          <ion-icon style="font-size: 46px;color: red;margin-top: 9px;margin-left: 8px;margin-bottom: 9px;"
            name="md-pin"></ion-icon>
        </ion-col>
        <ion-col col-10 (click)="selectedOption(location)" [ngClass]="{'background':location.changeColor}">
          <div style="margin: 12px 11px 5px 5px;">
            <span>Station Name</span>
            <span style="float:right;color:#808080;margin-left:11px;">{{location.geoname}}</span>
          </div>
          <div style="margin: 5px 0px 5px 5px;">
            <span>Distance from destination</span>
            <span style="float:right;color:#808080;">{{location.dist?(location.dist.calculated | number: '1.2-2'): 0 }}
              kms</span>
          </div>
        </ion-col>
      </ion-row>
    </ion-card>

  </div>
</ion-content>
<ion-footer style="width: 90%;
height: 100px;
background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;">
  <ion-row style="font-size: 14px">
    <ion-col>
      <p style="text-align:center;width: 100%; color:#808080">{{total_km}}</p>
    </ion-col>
    <ion-col>
      <p style="text-align:center;width: 100%; color:#808080">{{Vehicle_count}}</p>
    </ion-col>
    <ion-col>
      <p style="text-align:center;width: 100%; color:#808080">Navigate</p>
    </ion-col>
  </ion-row>
  <button ion-button full style="height: 37px;background: #87c23f;font-size: 14px;width: 60%;margin-left: 20%;"
    (click)="authanticationBeforeBooking()">Confirm Ride</button>
</ion-footer>