page-drop-location {
    .headStyle{
        margin: 0px;
        font-size: smaller;
        background: #87c23f;
        text-align: center;
        color: white;
        border-radius: 2px;
    }

    .background{
        background: #87c23f;
    }

    .drop_locations{
        border-radius: 50px;
        height: 10%;
        border: 1px solid #b3aaaa;
        .cardheadStyle{
            padding: 8px 0px 8px 14px;
            font-size: 1.4rem;
            background: #87c23f;
            color: #ffffff;
            
        }
        .contentStyle{
            padding: 0px;
            background: #c1b8b833;
        }
    }

    .pickup_from {
        z-index: 99;
        padding: 10px;
        margin: 6 auto 5px;
        padding: 7px 0px 0px 12px;
        transition: all .2s ease-in-out;
         :focus {
            transform: scale(1.1);
        }
    }  
}
.tStyle{
text-align: center;
}