<ion-content padding>
  <div class="applogo">
    <img src="assets/icon/zogologo.png" style="width:40%;margin-left: 30%;">
    <div style="padding-top: 20%;text-align: center;">
      <button ion-button round style="width: 18.2rem;background-color: #78b242;" (click)="signUpPage()">Sign Up</button>
    </div>
    <div style="padding-top: 4%;text-align: center;">
      <button ion-button round outline style="width: 18.2rem;color: #70aa3c;border-color: #70a83b;"
        (click)="loginPage()">Sign In</button>
    </div>
  </div>
</ion-content>