<ion-content no-padding>
    <div width="100%" height="100%">
            <div style="background: #8eda4a;padding-top: 15%;padding-bottom: 10%;" height="50%">
                    <ion-card style="margin: 0px;width: 28%;border-radius: 15px; padding-top: 0%;margin-left: 37%;">
                        <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
                    </ion-card>
                    <h5 style="color: white;font-weight: 500;text-align: center;font-size: 2.4rem;padding-top: 0%;padding-bottom: 7%;">RIDE BOOKED</h5>
                </div>
       <div class="row">         
    <ion-card ion-card style="margin: -60px 0px 0px 12px;border-radius: 10px;padding:15px;" class="col-sm-12 col-12 col-md-12">
        <h1
            style="text-align: center;font-size: 62px;color: #fb7d0c;font-family: fantasy;letter-spacing: 5px;">
            {{displayTime}}</h1>
    </ion-card>
</div>
    <ion-grid no-padding style="padding-top: 26px;">
        <ion-row style="width: 90%;
        background: #ffffff;
        margin-left: 5%;
        border-radius:8px;
        box-shadow: 0px 1px 15px 3px #cfcfcf;">
            <ion-col col-2>
                <ion-icon style="font-size: 46px;color: #8eda4a;margin-top: 9px;margin-left: 8px;margin-bottom: 9px;"
                    name="md-pin"></ion-icon>
            </ion-col>
            <ion-col col-10 style="margin-top: 5px;">
                <p style="font-size: 18px;margin-top: 8px;margin-bottom: 0;">Pickup Location</p>
                <p style="margin: 0;margin-top: 3px;color: grey;">{{pickup_location}}</p>
            </ion-col>
        </ion-row>
        <ion-row style="width: 90%;
        background: #ffffff;
        margin-left: 5%;
        margin-top: 4%;
        border-radius:8px;
        box-shadow: 0px 1px 15px 3px #cfcfcf;">
            <ion-col col-2>
                <ion-icon style="font-size: 46px;color: #8eda4a;margin-top: 9px;margin-left: 8px;margin-bottom: 9px;"
                    name="md-pin"></ion-icon>
            </ion-col>
            <ion-col col-10 col-10 style="margin-top: 5px;">
                <p style="font-size: 18px;margin-top: 8px;margin-bottom: 0;">Drop Location</p>
                <p style="margin: 0;margin-top: 3px;color: grey;">{{drop_location}}</p>
            </ion-col>
        </ion-row>
    </ion-grid>
</div>
</ion-content>
<ion-footer style="width: 90%;
height: 100px;
background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;">
    <ion-row style="margin-top: 22px;width: 90%;margin-left: 5%;">
        <ion-col>
            <button ion-button full
                style="margin: 0%;height:50px;background:#87c23f;font-size: 14px;border-radius: 8px;"
                (click)="cancelBookingAlert()">Cancel Ride</button>
        </ion-col>
        <ion-col>
            <button ion-button full
                style="margin: 0%;height:50px;background:#87c23f;font-size: 14px;border-radius: 8px;"
                (click)="ScanQrcode()">
                <ion-icon name="qr-scanner"></ion-icon>&nbsp;&nbsp;Unlock Bike
            </button>
        </ion-col>
    </ion-row>
</ion-footer>