page-book-ride {

}

.toastStyle{
    text-align: center
}

.alertStyle{
    .alert-wrapper{
        .alert-head{
            text-align: center;
            background: #fb7d0c;
            color: white;
            padding: 12px;
        }

        .alert-message{
            color: black;
            overflow: hidden;
            padding: 12px 12px 12px 12px;
            text-align: center;
            font-size: 17px;
        }
    }

}

