<ion-header no-border>
    <ion-navbar color="custCol"></ion-navbar>
</ion-header>
<ion-content no-padding>
    <div width="100%" height="100%">
            <div style="background: #8eda4a;" height="50%">
                    <ion-card style="margin: 0px;width: 28%;border-radius: 15px; padding-top: 0%;margin-left: 37%;">
                        <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
                    </ion-card>
                    <h5 style="color: white;font-weight: 500;text-align: center;font-size: 2.0rem;padding-top: 0%;padding-bottom: 7%;">PAYTM WALLET</h5>
                </div>
    <ion-grid>
        <p style="text-align: center">Available balance
            <span style="margin-left: 2%;">{{paytmAmount}}</span>
        </p>
        <ion-row style="margin: 8px 30px 0px 30px;">
            <ion-col col-8 no-padding>
                <ion-item style="padding: 0">
                    <ion-label color="primary" floating>Trip Fare</ion-label>
                    <ion-input type="text" disabled="true" [(ngModel)]="amounttobepaid">
                        <i class="fa fa-rupee"></i>
                    </ion-input>

                </ion-item>
            </ion-col>
            <ion-col col-4 no-padding style="text-align: right;margin-top: 7%;color: gray;">
                <button ion-button style="width: 90px;background: #30a0ff;color:white;" (click)="releaseAMT()"
                    [disabled]="promocodePassCode">{{buttonStr}}</button>
            </ion-col>
        </ion-row>
        <ion-row style="margin: 8px 30px 0px 30px;">
            <p style="color: rgb(247, 156, 156);" (tap)="promocodeFunc()">Do you have Promo Code?</p>
        </ion-row>
        <ion-row style="margin: 8px 30px 0px 30px;" *ngIf="showCoupenDiv">
            <ion-col col-8 no-padding>
                <ion-item style="padding: 0">
                    <ion-label color="primary" floating>Promo Code</ion-label>
                    <ion-input type="text" [(ngModel)]="promocodeentered">
                        <i class="fa fa-rupee"></i>
                    </ion-input>
                </ion-item>
            </ion-col>
            <ion-col col-4 no-padding style="text-align: right;margin-top: 7%;color: gray;">
                <button ion-button style="width: 90px;background: #30a0ff;color:white;"
                    (click)="applyCode()">Apply</button>
            </ion-col>
        </ion-row>
    </ion-grid>
    <!-- <ion-row style="padding: 0px 36px 14px 32px;">
        <ion-col col-8 no-padding style="text-align: center;color: #867e7e;margin-top: 15px;">
            <ion-item style="padding: 0">
                <ion-label color="primary" floating>Phone Number</ion-label>
                <ion-input type="number" disabled="true" [(ngModel)]="paytmregNum">
                    <i class="fa fa-rupee"></i>
                </ion-input>
            </ion-item>
        </ion-col>
        <ion-col col-4 no-padding style="text-align: right;margin-top: 12%;color: gray;">
            <button ion-button style="width: 90px;background: #30a0ff;color:white;"
                (click)="changeNum()">Change</button>
        </ion-col>
    </ion-row> -->
    <div *ngIf="hidePaybutton">
        <ion-row style="padding: 0px 23px;">
            <ion-col col-8>
                <ion-item style="padding-left: 3px;">
                    <ion-input type="number" [(ngModel)]="enteredAmt" placeholder="Enter Amount" (ionChange)="checkAmount(enteredAmt)"></ion-input>
                </ion-item>
            </ion-col>
        </ion-row>
        <ion-row style="padding:10px;">
            <ion-col col-4>
                <button ion-button round color="light" (click)="amount(100)"
                    style="color: #000;background-color: #f4f4f4;border-radius:0px;">
                    +
                    <i class="fa fa-rupee"></i> 100 </button>
            </ion-col>
            <ion-col col-4>
                <button ion-button round color="light" (click)="amount(200)"
                    style="margin-left:5px;color: #000;background-color: #f4f4f4;border-radius:0px;">
                    +
                    <i class="fa fa-rupee"></i> 200 </button>
            </ion-col>
            <ion-col col-4>
                <button ion-button round color="light" (click)="amount(500)"
                    style="margin-left:5px;color: #000;background-color: #f4f4f4;border-radius:0px;">+
                    <i class="fa fa-rupee"></i> 500 </button>
            </ion-col>
        </ion-row>
    </div>
</div>
</ion-content>
<ion-footer style="width: 90%;
height: 100px;
background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;" *ngIf="hidePaybutton">
    <ion-row style="margin-top: 22px;width: 90%;margin-left: 5%;">
        <button [disabled]="disablehideMoney" ion-button full style="margin: 0%;height:50px;background:#87c23f;font-size: 14px;border-radius: 6px;"
            (click)="addMoney()">Add Money</button>
    </ion-row>
</ion-footer>