<ion-header no-border>
  <ion-navbar color="custCol"></ion-navbar>
</ion-header>
<ion-content no-padding>
  <div width="100%" height="100%">
      <div style="background: #8eda4a;" height="50%">
          <ion-card style="margin: 0px;width: 28%;border-radius: 15px; padding-top: 0%;margin-left: 37%;">
              <img src="assets/icon/zogologo.png" style="width: 60%;margin: 18%;">
          </ion-card>
          <h5 style="color: white;font-weight: 500;text-align: center;font-size: 2.0rem;padding-top: 0%;padding-bottom: 7%;">PAYMENT</h5>
      </div>
  <ion-grid no-padding style="text-align: center;">
    <p style="color: #8eda4a;font-size: 15px;text-align: right;margin-right: 5%;">Amount to be paid :
      <i class="fa fa-rupee"></i> {{amounttobepaid}}</p>
    <p style="color: #6a6c69;margin: 8% 0% 0% 20%;font-size: 20px;text-align: left;">Pay via</p>
    <img src="assets/icon/Paytm_logo.png" style="width: 60%;margin: 2% 0% 0% 17%;">
    <p style="color: #8f8f8f;margin: 0%;margin-top: 5%;font-size: 14px;">Balance Available in Wallet
      <i class="fa fa-rupee"></i> {{walletBal}}</p>
  </ion-grid>
</div>
</ion-content>
<ion-footer style="width: 90%;
height: 100px;
background: #ffffff;
margin-left: 5%;
border-top-left-radius: 8px;
border-top-right-radius: 8px;
box-shadow: 0px 1px 15px 3px #cfcfcf;">
  <ion-row style="margin-top: 22px;width: 90%;margin-left: 5%;">
    <button ion-button full
      style="margin: 0%;height: 50px;background: #87c23f;font-size: 18px;border-radius: 6px;text-transform: none;"
      (click)="releaseAMT()">Proceed Securely</button>
  </ion-row>
</ion-footer>